<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin Template for Bootstrap</title>
    <link href="/static/asserts/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/asserts/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
<h5>success</h5>
</body>

</html>